body {
  background-color: #f8f9fa;
}
header{
background-color: rgb(47, 48, 69);
justify-content: center;
display: flex;
color: rgb(237, 238, 239);
}
.container {
  margin-top: 50px;
}
.card {
  padding: 20px;
  border-radius: 15px;
  background-color: #eee;
}
.form-label {
  font-weight: bold;
  color: #6c757d;
}
.btn-color {
  background-color: rgb(47, 48, 69);
  color: white;
}
.btn-color:hover {
  background-color: #485d76;
}
footer {
  background-color: rgb(47, 48, 69);
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}